# Importing and Exporting Data

https://pandas.pydata.org/pandas-docs/stable/user_guide/io.html?highlight=import

In [1]:
import pandas as pd

### CSV Files

In [2]:
# from http://apps.who.int/gho/data/view.main.WSHHYGIENEv?lang=en [PLEASE CHECK PERMISSIONS]
# Handwashing with soap Data by country 
# Population with basic handwashing facilities at home (%)
df = pd.read_csv('WSH_HYGIENE_BASIC.csv')  # This file is on my laptop right next to this notebook.
df

,Unnamed: 0,2015,2015.1,2015.2,2014,2014.1,2014.2,2013,2013.1,2013.2,...,2003.2,2002,2002.1,2002.2,2001,2001.1,2001.2,2000,2000.1,2000.2
0,NaN,Population with basic handwashing facilities a...,Population with basic handwashing facilities a...,Population with basic handwashing facilities a...,Population with basic handwashing facilities a...,Population with basic handwashing facilities a...,Population with basic handwashing facilities a...,Population with basic handwashing facilities a...,Population with basic handwashing facilities a...,Population with basic handwashing facilities a...,...,Population with basic handwashing facilities a...,Population with basic handwashing facilities a...,Population with basic handwashing facilities a...,Population with basic handwashing facilities a...,Population with basic handwashing facilities a...,Population with basic handwashing facilities a...,Population with basic handwashing facilities a...,Population with basic handwashing facilities a...,Population with basic handwashing facilities a...,Population with basic handwashing facilities a...
1,Country,Rural,Urban,Total,Rural,Urban,Total,Rural,Urban,Total,...,Total,Rural,Urban,Total,Rural,Urban,Total,Rural,Urban,Total
2,Afghanistan,29,64,38,29,64,38,29,64,38,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Algeria,73,88,84,73,88,83,73,88,83,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Angola,15,37,25,15,37,24,15,37,24,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Armenia,77,93,87,77,93,87,77,93,87,...,85,68,94,84,67,94,84,66,94,84
6,Bangladesh,31,58,40,31,58,40,31,58,40,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,Barbados,86,90,88,86,90,88,86,90,88,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,Belize,86,88,87,85,86,85,83,85,84,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,Benin,6,16,10,5,15,9,5,14,9,...,2,0,4,2,0,4,1,0,3,1
10,Bhutan,NaN,NaN,NaN,75,87,80,75,87,80,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,Bosnia and Herzegovina,96,98,97,96,98,97,96,98,97,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,Burkina Faso,7,23,12,7,23,11,7,23,11,...,7,2,23,6,1,23,6,1,23,5
13,Burundi,NaN,NaN,NaN,4,24,6,4,24,6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,Cambodia,60,88,66,60,88,66,60,88,65,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,Cameroon,1,4,3,1,4,3,1,4,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,Central African Republic,NaN,NaN,NaN,13,22,17,13,22,17,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,Chad,2,18,6,2,18,6,2,18,6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,Comoros,15,18,16,15,18,16,15,18,16,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,Costa Rica,83,84,84,83,84,84,83,84,84,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,Côte d'Ivoire,10,28,20,10,28,20,10,28,20,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,Cuba,76,88,85,76,88,85,76,88,85,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,Democratic Republic of the Congo,2,7,4,2,7,4,2,7,4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,Dominican Republic,42,58,55,42,58,55,42,58,55,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,Ecuador,76,91,85,76,91,85,76,91,85,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,Egypt,85,92,88,83,92,87,81,92,85,...,71,56,87,69,53,87,68,51,86,66
26,El Salvador,86,92,90,86,92,90,86,92,90,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,Equatorial Guinea,20,26,23,20,26,23,20,26,23,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,Eswatini,17,48,23,17,48,23,17,48,23,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,Ethiopia,0,5,1,0,5,1,0,5,1,...,NaN,0,NaN,NaN,0,NaN,NaN,0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49,Mauritania,10,22,17,10,22,17,10,22,17,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50,Mexico,80,90,88,80,90,88,80,90,88,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
51,Mongolia,49,81,72,49,81,72,49,81,72,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
52,Mozambique,8,21,12,8,21,12,8,21,12,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
53,Myanmar,74,92,80,74,92,80,74,92,80,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
54,Namibia,27,62,44,27,62,43,27,62,43,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
55,Nepal,52,80,57,52,80,57,52,80,57,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
56,Niger,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,9,5,30,9,NaN,NaN,NaN,NaN,NaN,NaN
57,Nigeria,7,19,13,7,19,13,7,19,13,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
58,Pakistan,46,83,60,46,83,60,46,83,60,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
59,Republic of Moldova,82,93,87,82,93,87,82,93,87,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
60,Rwanda,2,13,5,2,12,5,2,12,5,...,2,0,8,2,0,8,1,0,7,1
61,Saint Lucia,87,88,87,87,88,87,87,88,87,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
62,Sao Tome and Principe,47,39,42,47,39,42,47,39,42,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
63,Senegal,10,23,15,10,23,15,10,23,15,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64,Serbia,NaN,NaN,NaN,98,98,98,98,98,98,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
65,Sierra Leone,NaN,NaN,NaN,9,19,13,9,19,13,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
66,Somalia,8,12,10,8,12,10,8,12,10,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
67,Sudan,19,32,23,19,32,23,19,32,23,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
68,Suriname,NaN,NaN,NaN,55,74,68,55,74,68,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
69,Tajikistan,67,88,73,67,88,72,67,88,72,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
70,Togo,4,20,10,4,20,10,4,20,10,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
71,Tunisia,67,96,86,67,96,86,67,96,86,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
72,Turkmenistan,97,99,98,94,98,96,92,96,94,...,76,65,85,74,63,84,73,61,83,71
73,Uganda,6,15,8,6,15,8,6,15,8,...,6,5,14,6,4,14,6,4,14,5
74,United Republic of Tanzania,40,63,48,40,63,47,40,63,47,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75,Viet Nam,82,93,86,82,93,86,82,93,86,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
76,Yemen,38,71,49,38,71,49,38,71,49,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
77,Zambia,5,26,14,5,26,13,5,26,13,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
78,Zimbabwe,24,46,31,24,46,31,24,46,31,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

#### Things to note

1. A row index was added by default rather than using the name of the country as the index.
1. Columns have two levels??? Year and category of rural, urban, total

Let's take a look at the raw data.

We'll cover heirarchical indexes next. For now, let's see how to create them during import.

In [3]:
df = pd.read_csv(
    'WSH_HYGIENE_BASIC.csv', 
    header=[0, 1, 2],  # Creates a multilevel index
)  
df.head()

  Unnamed: 0_level_0                                                     2015  \
  Unnamed: 0_level_1 Population with basic handwashing facilities at home (%)
             Country                                                    Rural
0        Afghanistan                                               29.0
1            Algeria                                               73.0
2             Angola                                               15.0
3            Armenia                                               77.0
4         Bangladesh                                               31.0

                                                                  2014        \
              Population with basic handwashing facilities at home (%)
  Urban Total                                                    Rural Urban
0  64.0  38.0                                               29.0        64.0
1  88.0  84.0                                               73.0        88.0
2  37.0  25.0                                               15.0        37.0
3  93.0  87.0                                               77.0        93.0
4  58.0  40.0                                               31.0        58.0

                                                            2013              \
        Population with basic handwashing facilities at home (%)
  Total                                                    Rural Urban Total
0  38.0                                               29.0        64.0  38.0
1  83.0                                               73.0        88.0  83.0
2  24.0                                               15.0        37.0  24.0
3  87.0                                               77.0        93.0  87.0
4  40.0                                               31.0        58.0  40.0

   ...                                                      2003  \
   ...  Population with basic handwashing facilities at home (%)
   ...                                                     Total
0  ...                                                 NaN
1  ...                                                 NaN
2  ...                                                 NaN
3  ...                                                85.0
4  ...                                                 NaN

                                                      2002              \
  Population with basic handwashing facilities at home (%)
                                                     Rural Urban Total
0                                                NaN         NaN   NaN
1                                                NaN         NaN   NaN
2                                                NaN         NaN   NaN
3                                               68.0        94.0  84.0
4                                                NaN         NaN   NaN

                                                      2001              \
  Population with basic handwashing facilities at home (%)
                                                     Rural Urban Total
0                                                NaN         NaN   NaN
1                                                NaN         NaN   NaN
2                                                NaN         NaN   NaN
3                                               67.0        94.0  84.0
4                                                NaN         NaN   NaN

                                                      2000
  Population with basic handwashing facilities at home (%)
                                                     Rural Urban Total
0                                                NaN         NaN   NaN
1                                                NaN         NaN   NaN
2                                                NaN         NaN   NaN
3                                               66.0        94.0  84.0
4                                                NaN         NaN   NaN

[5 rows x 49 columns]

In [4]:
df = pd.read_csv(
    'WSH_HYGIENE_BASIC.csv', 
    header=[0, 1, 2],  # Creates a multilevel index
    index_col=0,  # Uses first column as a row index!
)  
df.head()

                                                                2015        \
            Population with basic handwashing facilities at home (%)
Country                                                        Rural Urban
Afghanistan                                               29.0        64.0
Algeria                                                   73.0        88.0
Angola                                                    15.0        37.0
Armenia                                                   77.0        93.0
Bangladesh                                                31.0        58.0

                                                                      2014  \
                  Population with basic handwashing facilities at home (%)
Country     Total                                                    Rural
Afghanistan  38.0                                               29.0
Algeria      84.0                                               73.0
Angola       25.0                                               15.0
Armenia      87.0                                               77.0
Bangladesh   40.0                                               31.0

                         \

Country     Urban Total
Afghanistan  64.0  38.0
Algeria      88.0  83.0
Angola       37.0  24.0
Armenia      93.0  87.0
Bangladesh   58.0  40.0

                                                                2013        \
            Population with basic handwashing facilities at home (%)
Country                                                        Rural Urban
Afghanistan                                               29.0        64.0
Algeria                                                   73.0        88.0
Angola                                                    15.0        37.0
Armenia                                                   77.0        93.0
Bangladesh                                                31.0        58.0

                                                                      2012  \
                  Population with basic handwashing facilities at home (%)
Country     Total                                                    Rural
Afghanistan  38.0                                               29.0
Algeria      83.0                                               73.0
Angola       24.0                                               15.0
Armenia      87.0                                               77.0
Bangladesh   40.0                                               31.0

             ...                                                      2003  \
             ...  Population with basic handwashing facilities at home (%)
Country      ...                                                     Total
Afghanistan  ...                                                 NaN
Algeria      ...                                                 NaN
Angola       ...                                                 NaN
Armenia      ...                                                85.0
Bangladesh   ...                                                 NaN

                                                                2002        \
            Population with basic handwashing facilities at home (%)
Country                                                        Rural Urban
Afghanistan                                                NaN         NaN
Algeria                                                    NaN         NaN
Angola                                                     NaN         NaN
Armenia                                                   68.0        94.0
Bangladesh                                                 NaN         NaN

                                                                      2001  \
                  Population with basic handwashing facilities at home (%)
Country     Total                                                    Rural
Afghanistan   NaN                                                NaN
Algeria       NaN                                                NaN
Angola        NaN                                                NaN
Armenia      84.0                                               67.0
Bangladesh    NaN                                                NaN

                         \

Country     Urban Total
Afghanistan   NaN   NaN
Algeria       NaN   NaN
Angola        NaN   NaN
Armenia      94.0  84.0
Bangladesh    NaN   NaN

                                                                2000        \
            Population with basic handwashing facilities at home (%)
Country                                                        Rural Urban
Afghanistan                                                NaN         NaN
Algeria                                                    NaN         NaN
Angola                                                     NaN         NaN
Armenia                                                   66.0        94.0
Bangladesh                                                 NaN         NaN



Country     Total
Afghanistan   NaN
Algeria       NaN
Angola        NaN
Armenia      84.0
Bangladesh    NaN

[5 rows x 48 columns]

One more thing I noticed. We really don't need the second row. Let's fix that.

In [5]:
df = pd.read_csv(
    'WSH_HYGIENE_BASIC.csv', 
    header=[0, 2],  # Creates a multilevel index
    index_col=0,  # Uses first column as a row index!
)  
df.head()  # That's  good lookin' DataFrame!

             2015              2014              2013              2012  ...   \
Country     Rural Urban Total Rural Urban Total Rural Urban Total Rural  ...
Afghanistan  29.0  64.0  38.0  29.0  64.0  38.0  29.0  64.0  38.0  29.0  ...
Algeria      73.0  88.0  84.0  73.0  88.0  83.0  73.0  88.0  83.0  73.0  ...
Angola       15.0  37.0  25.0  15.0  37.0  24.0  15.0  37.0  24.0  15.0  ...
Armenia      77.0  93.0  87.0  77.0  93.0  87.0  77.0  93.0  87.0  77.0  ...
Bangladesh   31.0  58.0  40.0  31.0  58.0  40.0  31.0  58.0  40.0  31.0  ...

             2003  2002              2001              2000
Country     Total Rural Urban Total Rural Urban Total Rural Urban Total
Afghanistan   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
Algeria       NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
Angola        NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
Armenia      85.0  68.0  94.0  84.0  67.0  94.0  84.0  66.0  94.0  84.0
Bangladesh    NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN

[5 rows x 48 columns]

In [6]:
df.to_csv('out.csv')  # Includes index

In [7]:
url = 'https://apps.who.int/gho/athena/data/GHO/WSH_HYGIENE_BASIC?filter=COUNTRY:*;REGION:*&x-sideaxis=COUNTRY&x-topaxis=YEAR;GHO;RESIDENCEAREATYPE&profile=crosstable&format=csv'
df = pd.read_csv(
    url, 
    header=[0, 2],  # Creates a multilevel index
    index_col=0,  # Uses first column as a row index!
)  
df.head()

              2017                 2016                 2015                \
Country      Rural  Urban  Total  Rural  Urban  Total  Rural  Urban  Total
Afghanistan   29.0   64.0   38.0   29.0   64.0   38.0   29.0   64.0   38.0
Algeria       73.0   88.0   84.0   73.0   88.0   84.0   73.0   88.0   84.0
Angola        13.0   34.0   27.0   13.0   34.0   27.0   13.0   34.0   26.0
Armenia       90.0   97.0   94.0   88.0   96.0   93.0   87.0   96.0   93.0
Azerbaijan     NaN    NaN   83.0    NaN    NaN   83.0    NaN    NaN   83.0

              2014  ...     2003   2002                 2001                \
Country      Rural  ...    Total  Rural  Urban  Total  Rural  Urban  Total
Afghanistan   29.0  ...      NaN    NaN    NaN    NaN    NaN    NaN    NaN
Algeria       73.0  ...      NaN    NaN    NaN    NaN    NaN    NaN    NaN
Angola        13.0  ...      NaN    NaN    NaN    NaN    NaN    NaN    NaN
Armenia       85.0  ...     85.0   68.0   93.0   84.0   67.0   93.0   84.0
Azerbaijan     NaN  ...      NaN    NaN    NaN    NaN    NaN    NaN    NaN

              2000
Country      Rural  Urban  Total
Afghanistan    NaN    NaN    NaN
Algeria        NaN    NaN    NaN
Angola         NaN    NaN    NaN
Armenia       66.0   93.0   83.0
Azerbaijan     NaN    NaN    NaN

[5 rows x 54 columns]

Draw backs to using a URL? Pandas will fetch the data every time the cell executes. I like to re-eval a cell often and this can cause significant delays in my work with larger datasets. Some APIs will even reject requests if you request from them
too frequently.

### SQL

In [1]:
from sqlalchemy import create_engine

engine = create_engine('sqlite:///:memory:')
connection = engine.connect()

In [9]:
connection.execute("""
CREATE TABLE humans (
    id INTEGER PRIMARY KEY,
    name text NOT NULL,
    flavor text NOT NULL
);
""")

connection.execute("INSERT INTO humans (name, flavor) VALUES ('Debora', 'Chocolate');")
connection.execute("INSERT INTO humans (name, flavor) VALUES ('Paul', 'Vanilla');")
connection.execute("INSERT INTO humans (name, flavor) VALUES ('Chris', 'Chocolate Chip Cookie Dough');")

In [10]:
sql = "SELECT * FROM humans;"
result = connection.execute(sql)
list(result)

[(1, 'Debora', 'Chocolate'),
 (2, 'Paul', 'Vanilla'),
 (3, 'Chris', 'Chocolate Chip Cookie Dough')]

In [11]:
df = pd.read_sql(sql, connection, index_col='id')
df

      name                       flavor
id
1   Debora                    Chocolate
2     Paul                      Vanilla
3    Chris  Chocolate Chip Cookie Dough

In [12]:
# If we know we want the whole table ...
df = pd.read_sql_table('humans', connection, index_col='id')
df

      name                       flavor
id
1   Debora                    Chocolate
2     Paul                      Vanilla
3    Chris  Chocolate Chip Cookie Dough

In [13]:
df.to_sql('humans2', connection)  # Can write to the database as well!

In [14]:
sql = "SELECT * FROM humans2;"
result = connection.execute(sql)
list(result)

[(1, 'Debora', 'Chocolate'),
 (2, 'Paul', 'Vanilla'),
 (3, 'Chris', 'Chocolate Chip Cookie Dough')]